// Mixins
@mixin anim($e, $d) {
    -webkit-transition: all $e ease $d;
    -o-transition: all $e ease $d;
    transition: all $e ease $d;
  }
  @mixin scale($q) {
    -ms-transform: scale($q);
    -webkit-transform: scale($q);
    transform: scale($q);
  }
  @mixin rotate($w) {
    -ms-transform: rotate($w);
    -webkit-transform: rotate($w);
    transform: rotate($w);
  }

// HEADER

.header {
    width: 100%;
    background: #DDF9FF;
    border-radius: 40px 40px 0px 0px;
    box-sizing: border-box;
    padding: 20px;
    @media (max-width: 540px) {
        padding: 10px;
    }
}

// Главная часть

.hm-p {
    background: #1098FE;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 2px 6px 8px rgba(16, 152, 254, 0.25);
    border-radius: 20px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;

        color: #FFFFFF;
        @include anim(0.3s, 0s);

        &:hover {

            color: #000000;
        }

    }


    &__shopping-card {
        a {
            svg {
                path {
                    @include anim(0.3s, 0s);
                    stroke: #FFFFFF;
                }
            }

            &:hover {
                svg {
                    path {
                        stroke: #000000;
                    }
                } 
            }
        }
    }
    @media (max-width: 540px) {
        border-radius: 40px 40px 0px 0px;
        padding: 20px 30px;
        &__logo {
            font-size: 24px;
            line-height: 24px;
    
            color: #FFFFFF;
            @include anim(0.3s, 0s);
    
            &:hover {
    
                color: #000000;
            }
    
        }
        &__shopping-card {
            a {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}


// Нижняя часть на главной
.hs-p1 {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
        display: flex;
        align-items: center;
        li {
            box-sizing: border-box;
            padding: 10px 25px;
            margin: 0px 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            background: #FFFFFF;
            border: 2px solid #000000;
            border-radius: 30px;
            cursor: pointer;
            @include anim(0.3s, 0s);
            &:hover {
                background: rgba(51, 51, 51, 0.74);
                border: 2px solid #FFFFFF;
                color: #FFFFFF;
            }
            &.active {
                background: rgba(51, 51, 51, 0.74);
                border: 2px solid #FFFFFF;
                color: #FFFFFF;
                cursor: default;
            }
        }
    }
    @media (max-width: 540px) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        &__menu {
            align-items: center;
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            li {
                box-sizing: border-box;
                padding: 8px 15px;
                font-size: 16px;
                line-height: 16px;
                margin: 0 5px;
                border: 1.5px solid #000000;
                &:hover {
                    border: 1.5px solid #FFFFFF;
                }
                &.active {
                    border: 1.5px solid #FFFFFF;
                }
            }
        }
    }
}


// Сортировка
.s-p1 {

    &__area {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;

        &.active {
            display: block;
        }
    }
    &__type {
        background: #FFFFFF;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 2px 6px 8px rgba(255, 191, 225, 0.25);
        border-radius: 10px;
        width: 300px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            
            color: #000000;
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            
            color: #000000;
        }
    }


    &__popup {
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        position: absolute;
        z-index: 5;
        background: #FFFFFF;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        width: 300px;
        text-align: center;
        padding: 0px 20px;
        margin: 15px 0px 0px 0px;
        li {
            background: #FFFFFF;
            border: 2px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            width: 100%;
            text-align: left;
            padding: 20px;
            margin: 20px 0px;
            cursor: pointer;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: #000000;
            @include anim(0.3s, 0s);

            &:hover {
                background: rgba(51, 51, 51, 0.75);
                border: 2px solid #FFFFFF;
                color: #FFFFFF;
            }

            &.active {
                background: rgba(51, 51, 51, 0.75);
                border: 2px solid #FFFFFF;
                color: #FFFFFF;
                cursor: default;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }
    }

    @media (max-width: 540px) {
        margin: 20px 0px 0px 0px;
        max-width: 100%;
        &__type {
            border: 1.5px solid #000000;
            border-radius: 20px;
            width: 100vw;
            max-width: 100%;
            padding: 10px 15px;
            p {
                font-size: 16px;
                line-height: 16px;
            }
    
            span {
                font-size: 16px;
                line-height: 16px;
            }
        }
    
    
        &__popup {
            border: 1.5px solid #000000;
            border-radius: 20px;
            width: 300px;
            padding: 0px 10px;
            li {
                border: 1.5px solid #000000;
                border-radius: 20px;
                padding: 15px;
                margin: 15px 0px;
                font-size: 16px;
                line-height: 16px;
    
                &:hover {
                    border: 1.5px solid #FFFFFF;
                }
    
                &.active {
                    border: 1.5px solid #FFFFFF;
                }
            }
        }
    }
}

// Нижняя часть в корзине
.hs-p2 {
    display: flex;
    width: 100%;
    justify-content: center;
    h1 {
        margin: 35px 0px 0px 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        color: #000000;

    }
    @media (max-width: 540px) {
        h1 {
            margin: 30px 0px 0px 0px;
            font-size: 20px;
            line-height: 20px;
    
        }
    }
}